{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/template.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/account.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block betweenNavbars %}
        <h1 class="row justify-content-md-center">MON ICE COMPTE</h1>
{% endblock %}
{% block body %}
    <h1>Go vers mon Ice compte !</h1>

    <form action="{{ path('security_login') }}" method="post" class="row">
        <div class="col-md-6 ms-auto me-auto mb-5 pt-5 ice-card">
            <div class="form-group">
                <input placeholder="Adresse email" required name="_username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Connexion !</button>
            </div>
        </div>
    </form>
{% endblock %}