/*LOGIN PAGE*/
#login-title {
    top: -75px;
}
/* #login-content {
    display: flex;
    justify-content: space-around;
} */
/*ACCOUNT PAGE */
.content {
    margin-top: 40px;
    background-color: rgb(255, 238, 191);
}
.infos-card.ice-card {
    padding: 0;
    /* width: 100%; */
    background-color: #f0e7ff;
}
.infos-card h2 {
    margin-bottom: 0;
    color: #6610f2;
}
.infos-card p {
    font-size: 14px;
    font-weight: 500;
} 
.infos-card strong {
    font-weight: 700;
    color: #6610f2;
}
.return-icon {
    display: flex;
}

/*RESPONSIVE DESIGN*/
/* @media screen and (min-width: 576px) {

} */
@media screen and (min-width: 1200px) {
    .infos-card p {
        font-size: 20px;
        font-weight: 500;
    } 
}