/* PROGRESS BAR */
.progress {
    display: none;
}
.bg-danger {
    background-color: orange!important;
}
.second_navbar {
    display: block;
    width: 50%;
    margin-bottom: 50px;
    color: rgb(67, 46, 160);
    font-weight: 700;
}
/*TABLES*/
.table {
    color: #6610f2;
    font-weight: 500;
}
.table tr {
    display: flex;
    flex-direction: row;
}
.table-title {
    height: 80px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
}
.table thead tr th {
    border-bottom: none;
    align-self: center;
}
.table thead tr th.table-box {
    border-right: 1px solid #6710f26b;
}
.table tbody tr {
    border-bottom: 1px solid #6710f26b;
}
.table tbody tr td {
    border-bottom: none;
    align-self: center;
}
#item-name {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
}
.table img { /*img size*/
    width: 100px!important;
}
.total-title {
    font-weight: 700;
    text-transform: uppercase;
}
.total-price {
    font-weight: 700;
    color: white;
    background-color: magenta!important;
    border-radius: 10px;
}
.remove, .remove2 {
    display: none;
}

/*RESPONSIVE DESIGN*/
@media screen and (min-width: 576px) {
    .remove2 {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .remove {
        display: flex;
        justify-content: center;
    }
    .total-title {
        text-align: end;
    }
}
@media screen and (min-width: 992px) {
    .progress {
        display: flex;
    }
}