#cart-items-number {
    left: 26px;
}
.product {
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
    text-align: left;
    align-items: center;
}
.form-group {
    color: rgb(139, 55, 205);
}
.form-group label {
    margin-top: 0!important;
}
.form-select:focus {
    border: 1px solid rgb(255, 145, 0);
}
.form-select:active {
    border: 1px solid rgb(255, 145, 0);
}
.product h2 {
    font-family: 'Exo', sans-serif;
}
.product h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 30px;
}
#product-price {
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    color: rgb(139, 55, 205);
}
@media screen and (min-width: 992px) {
    #cart-items-number {
        top: 22px;
    }
}