/*GENERAL*/
body {
    background-image: none;
    background-color: white;
    color:rgb(67, 46, 160);
    overflow-x: hidden;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    /* font-family: 'Lexend', sans-serif; */
    /* font-family: 'Exo', sans-serif; */
}
body p {
    font-family: 'Overpass', sans-serif;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0;
    position: relative;
}
.row, .row>* {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}
/*HEADER*/
.container-fluid {
    flex-direction: column;
    position: relative;
}
.bg-light {
    background-color: white!important;
}
/* NAV LINKS */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link { /*active link in the navbars*/
    color: orange;
}
.d-flex {
    position: absolute;
    top: 10px;
    right: 40px;
    height: 70px;
    flex-wrap: nowrap;
    font-size: 13px;
    align-items: flex-end;
}
.d-flex input {
    border-radius: 8px;
    height: 40px;
    width: 200px;
    padding-left: 10px;
}
.d-flex a {
    text-decoration: none;
    width: 60px;
}
#panier, #compte {
    margin-top: 8px;
}
.navbar-button {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.btn-secondary.navbar-button{
    background-color: white;
}
.basket-button {
    color: magenta;
    margin: 0 20px 0 10px;
}
#search-icon {
    height: 35px;
}
#basket-icon, #account-icon {
    height: 50px;
}
.account-button {
    color: orange;
}
.bg-light .form-control {
    border-color: rgba(139, 55, 205, 1);
    color: rgba(139, 55, 205, 1);
}
/*BRAND*/
.brand {
    margin-top: 60px;
    margin-bottom: 60px;
}
.navbar-brand {
    padding: 0;
    margin: 0;
}
.brand img {
    width: 500px;
}
/* NAVBAR */
.navbar {
    padding-bottom: 1.2rem;
}
.collapse.navbar-collapse { /*taille du menu*/
    width: 65%;
    font-weight: 700;
    font-size: 24px;
}
.navbar-nav.me-auto {
    padding: 0;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(67, 46, 160);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: orange;
}
.navbar-light .navbar-nav .nav-link:active {
    color: orange;
}
.navbar-light .navbar-nav .nav-link.clicked_link {
    color: orange;
}
.second_navbar {
    width: 50%;
    margin-bottom: 50px;
}
/* BUTTONS*/
.iceice-button {
    font-family: 'Lexend', sans-serif;
    box-shadow: 2px 2px 10px rgb(143, 142, 142);
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
}
.iceice-button:hover {
    background-color: orange;
}
/*VIOLET TITLES*/
.container-fluid h1 {
    width: 40%;
    height: 70px;
    padding: 10px;
    right: 30%;
    left: 30%;
    top: -30px;
    z-index: 2;
    position: absolute;
    background-color: rgb(139, 55, 205);
    border-radius: 10px;
    color: white;
    text-shadow: 5px 5px 3px rgba(67, 46, 160, 0.4);
    text-transform: uppercase;
    text-align: center;
}
.row.category {
    padding: 100px 50px 100px 50px;
    justify-content: space-around;
}
/*SUB TITLES*/
.iceice-title {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 3px 3px 3px rgba(26, 166, 163, 1);
    margin-bottom: 20px;
}
h2 {
    font-family: 'Exo', sans-serif;
}
/*CARD*/
.card-body {
    padding: 0;
}
.card-body img {
    border-radius: 10px 10px 0 0;
}
.card-header:last-child {
    border-radius: 10px;
}
.card.border-light {
    box-shadow: none;
}
.card.border-light a {
    border-radius: 0.5rem;
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
}
.card.border-light .card-header {
    color:rgba(67, 46, 160, 1);
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
}
.card.border-light .card-header h2 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
}
/*PHOTOS GALERY*/
.galery{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}
.galery img {
    width: 100%;
    border-radius: 10px;
}
/*FOOTER*/
.footer {
    background-color:rgba(67, 46, 160, 0.3);
    text-align: left;
    font-family: 'Overpass', sans-serif;
}
.footer .row {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    line-height: 0.8;
}
.footer .col-sm-4 {
    padding-right: calc(var(--bs-gutter-x));
    padding-left: calc(var(--bs-gutter-x));
}
.footer .col-sm-4 h1 {
    font-size: 20px;
    font-family: 'Red Hat Text', sans-serif;
}
.footer .col-sm-4 .lead {
    font-size: 15px;
}
.footer .col-sm-4 .lead strong{
    font-weight: 700;
}
.footer .col-sm-4 .lead ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
}
.footer a {
    text-decoration: none;
    color:rgb(67, 46, 160);
}
.footer a:hover {
    font-weight: 900;
}
.footer .social {
    display: flex;
    justify-content: start;
}
.footer .social img {
    width: 70px;
}
#instagram {
    margin-left:-20px;
}
hr {
    margin-top: 10px;
    margin-bottom: 30px;
}

/*ICE BOUTIQUE*/
#boutique {
    background-color: rgb(255, 217, 84);
    box-shadow: inset 0em -2em 30px rgba(255, 160, 35, 0.5);
}
.row.category.pictures {
    justify-content: space-around;
    align-items: center;
}
.row.category.pictures img {
    width: 100%;
    border-radius: 20px;
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
}
#enseigne {
    margin-bottom: 25px;
}
.ice-card {
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px 50px 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
    text-align: center;
}
#horaires {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
}
#adress {
    background-color: white;
    position: absolute;
    top: 200px;
    right: 60px;
    color: rgba(67, 46, 160, 1);
    box-shadow: 5px 5px 15px rgb(143 142 142);
    border-radius: 15px;
    padding: 25px;
}
/*ICE FACTORY*/
#factory {
    background-color: rgb(255,229, 241);
    box-shadow: inset 0em -2em 30px rgb(249 159 201 / 50%);
}
#icefactory_galery {
    text-transform: uppercase;
}